.noteContainer {
  min-width: 185px;
  max-width: 250px;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.noteContainer * {
  margin: 0;
}

.dateChip {
  background-color: rgb(221, 221, 221, 0.85);
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.calenderIcon {
  color: #555;
  font-size: 0.8rem;
}

.iconButton {
  background-color: transparent;
  color: #444;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-top: auto;
}

.iconButton:hover {
  color: rgba(51, 51, 51, 0.65);
}
